body {
    h1{
        font-size: 50px;
        text-align: center;
    }
    a{
        font-size: 40px;
        color: rgb(248, 247, 247);
        text-decoration: none;
        border-radius: 3px;
        background-color: rgb(68, 28, 106);
    }
    a:hover{
        padding: 3px;
        border-radius: 3px;
        border: solid rgb(4, 4, 4) 3px;
    }
  
    .errors{
        color: red;
    }
    .add {
        font-size: 30px;
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        color: black;
        background-color: rgb(48, 205, 13);
        margin: 50px;
        border: solid rgb(4, 4, 4) 1px;
        border-radius: 4px;
        padding: 10px;
    }

    section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
            .card {
            margin: 50px;
            width: 450px;
            display: flex;

            img {
                width: 250px;
                height: 170px;
            }

            .info {}

            .card_buttons {
                display: flex;
                flex-direction: column;
                justify-content: center;

                .update {
                    font-size: 18px;
                    text-decoration: none;
                    text-align: center;
                    font-weight: bold;
                    color: black;
                    background-color: blue;
                    margin-bottom: 40px;
                    border: solid rgb(4, 4, 4) 1px;
                    border-radius: 4px;
                    padding: 10px;
                }
                .update:hover{
                    padding: 12px;
                    border: solid rgb(4, 4, 4) 3px;
                }

               

            }
        }
    }

}
div{

    .delete {
        font-size: 18px;
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        color: black;
        background-color: rgb(243, 7, 7);
        margin-bottom: 40px;
        border: solid rgb(4, 4, 4) 1px;
        border-radius: 4px;
        padding: 10px;
        
    
    }
    .delete:hover{
        padding: 12px;
        border: solid rgb(4, 4, 4) 3px;
    }
    .cancel {
        font-size: 18px;
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        color: black;
        background-color: rgb(135, 155, 139);
        margin-bottom: 40px;
        border: solid rgb(4, 4, 4) 1px;
        border-radius: 4px;
        padding: 10px;
    
    }
    .cancel:hover{
        padding: 12px;
        border: solid rgb(4, 4, 4) 3px;
    }
}