body {
    header {
        background: rgb(10, 9, 92);
        background: linear-gradient(222deg, rgba(10, 9, 92, 0.7456232492997199) 37%, rgba(114, 132, 176, 0.9164915966386554) 68%);

        ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            list-style-type: none;
            height: 60px;

            li {
                a {
                    font-size: 40px;
                    color: rgb(248, 247, 247);
                    text-decoration: none;
                    border-radius: 3px;
                    height: 200px;
                
                    
                }
                a:hover{
                    box-shadow: rgb(190, 189, 189) 5px 5px 15px;
                }

            }
        }
    }

    h1 {
        font-size: 50px;
        text-align: center;
    }

    .errors {
        color: red;
    }

    .add {
        font-size: 30px;
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        color: black;
        background-color: rgb(48, 205, 13);
        margin: 50px;
        border: solid rgb(4, 4, 4) 1px;
        border-radius: 4px;
        padding: 10px;
        box-shadow: rgb(190, 189, 189) 5px 5px 15px;
    }

    section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .card {
            margin: 20px;

            display: flex;

            img {
                width: 240px;
                height: 165px;
                margin: 5px;

            }

            .info {}

            .card_buttons {
                display: flex;
                flex-direction: column;
                justify-content: center;

                .update {
                    font-size: 18px;
                    text-decoration: none;
                    text-align: center;
                    font-weight: bold;
                    color: black;
                    background-color: blue;
                    margin-bottom: 40px;
                    border: solid rgb(4, 4, 4) 1px;
                    border-radius: 4px;
                    padding: 10px;
                    box-shadow: rgb(190, 189, 189) 5px 5px 15px;
                }

                .update:hover {
                    padding: 12px;
                    border: solid rgb(4, 4, 4) 3px;
                    box-shadow: rgb(190, 189, 189) 5px 5px 15px;
                }



            }
        }
    }

}

div {

    .delete {
        font-size: 18px;
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        color: black;
        background-color: rgb(243, 7, 7);
        margin-bottom: 40px;
        border: solid rgb(4, 4, 4) 1px;
        border-radius: 4px;
        padding: 10px;
        box-shadow: rgb(190, 189, 189) 5px 5px 15px;


    }

    .delete:hover {
        padding: 12px;
        border: solid rgb(4, 4, 4) 3px;
        box-shadow: rgb(190, 189, 189) 5px 5px 15px;
    }

    .cancel {
        font-size: 18px;
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        color: black;
        background-color: rgb(135, 155, 139);
        margin-bottom: 40px;
        border: solid rgb(4, 4, 4) 1px;
        border-radius: 4px;
        padding: 10px;
        box-shadow: rgb(190, 189, 189) 5px 5px 15px;

    }

    .cancel:hover {
        padding: 12px;
        border: solid rgb(4, 4, 4) 3px;
        box-shadow: rgb(190, 189, 189) 5px 5px 15px;
    }
}

.champForm {
    label {
        font-size: 20px;
        font-weight: bold;
        margin: 20px;
    }

    input {
        width: 300px;
    }

    margin: 20px;

}

.confirm {
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: black;
    background-color: rgb(48, 205, 13);
    margin: 30px;
    border: solid rgb(4, 4, 4) 1px;
    border-radius: 4px;
    padding: 7px;
    box-shadow: rgb(190, 189, 189) 5px 5px 15px;
}

.card {
    width: 450px;
    border-radius: 5px;
    box-shadow: rgb(190, 189, 189) 5px 5px 15px;
    padding: 35px 20px 35px;
}